<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<body>

<h2>Insertion and Deletion of Data</h2>

<div id="app">
   <input
    v-model="newTodoText"
    @keyup.enter="insertOperation"
    placeholder="Add data"
  >
  
  <ul>  
  <li 
      v-for="(rec, index) in record"
      @bind:title="rec"
      @click="record.splice(index, 1)"
    >
	<!-- Below is the code for Delete operation performed on click of the Delete button -->
	<input type="button" value="Delete" @click="deleteOperation(index);"/>
	<span>{{rec}}</span>
	</li>
	
  </ul>
</div>

<script>

// below code is for Deleting the data using emit function.

//Vue.component('data-item', {
//  template: '\
//    <li>\
//      {{ title }}\
//      <button @click="$emit(\'remove\')">Delete</button>\
//    </li>\
//  ',
//  props: ['title']
//})
  
new Vue({
  el: '#app',
  data: {
    newTodoText: '',
    record: [
      'Learn Vue',
      'Learn Angular',
      'Learn React'
    ]
  },
  methods: {
	// Insertion function to insert data to the array 
    insertOperation: function () {
      this.record.push(this.newTodoText)
      this.newTodoText = ''
    },
	// deletion function to delete data from the array 	
	deleteOperation: function(index){
		this.record.splice(index,1);
	}
  }
})
</script>

</body>
</html>
